header{
    display: flex;
    place-items: center;
    background: #767b24;
    width: 100%;
    height: 4em;
    margin-bottom: 5em;
    justify-content: center;
}
h1 {
    font-family: Verdana;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: yellowgreen;
    font-size: 3em;
}
header div{
    position: absolute;
    left: 0.5em;
    font-size: 1.5em;
    top: 3em;
}

section{
    display: flex;
    justify-content: center;
    margin:1em;
}
.lottoForm{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    width:25em;
    height:31em;
}

.powerNum{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    width:25em;
    height:5em;
}
.number-btn{
    background-color:mintcream;
    border: 1px solid black;
    border-radius: 5px;
    margin:0.3em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}
.number-btn:hover{
    background-color: #49d156;

}
.number-btn:active{
    background-color: #34a445;
}
#submit-btn{
    color:white;
    font-size: 1.5em;
    margin:1em;
    background-color:#4CAF50;
    width: 8em;
    height: 2em;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#submit-btn:hover{
    background-color: #34a445;
}
#submit-btn:active{
    background-color: rgba(76, 175, 80, 0.5);
}
#result{
    margin:10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
#finish-btn{
    color:white;
    font-size: 1.5em;
    background-color: #614caf;
    width: 8em;
    height: 2em;
    margin:1em;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#finish-btn:hover{
    background-color: #473784;
}
#finish-btn:active{
    background-color: rgba(97, 76, 175, 0.5);
}

section h3{
    font-family: Verdana;
    text-transform: uppercase;
    font-size: 1.5em;
}
#result span{
    font-family: Verdana;
    font-size: 1em;
    padding: 0.5em;
}


@media screen and (max-width: 540px) {
    header {
        height: 4em;
        margin-bottom: 1em;
    }

    h1 {
        font-size: 2em;

    }

    header div {
        font-size: 1.3em;
        left: 0.5em;
        top: 3.5em;

    }

    #result span {
        padding: 0.2em;
    }
}


