header{
    display: flex;
    place-items: center;
    background: gray;
    height: 50px;
    margin-bottom: 10px;
}

section{
    display: flex;
    justify-content: center;
    margin:10px;
}
.lottoForm{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    width:400px;
    height:500px;
}

.powerNum{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    width:400px;
    height:75px;
}
.number-btn{
    background-color:mintcream;
    border: 1px solid black;
    border-radius: 5px;
    margin:3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


}
.number-btn:hover{
    background-color: #49d156;

}
.number-btn:active{
    background-color: #34a445;
}
#submit-btn{
    color:white;
    font-size: 20px;
    margin-top: 20px;
    background-color:#4CAF50;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#submit-btn:hover{
    background-color: #34a445;
}
#submit-btn:active{
    background-color: rgba(76, 175, 80, 0.5);
}
#result{
    margin:10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
#finish-btn{
    margin:10px;
    color:white;
    font-size: 20px;
    margin-top: 20px;
    background-color: #614caf;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#finish-btn:hover{
    background-color: #473784;
}
#finish-btn:active{
    background-color: rgba(97, 76, 175, 0.5);
}